$top-bar-height: 4.1rem;
$screen-height: 100vh;

$line-height: 144%;

$color-canvas: #ffffff;
$color-black: #000000;
$color-light-gray: #f5f6f6;
$color-gray: #868788;
$color-blue: #000045;
$color-yellow: #ffff00;

$menu-width-mobile: 21rem;
$menu-width-desktop: 22rem;
$menu-inner-margin: 2.4rem;
$margin: 1.8rem;
$margin-small: 1.4rem;
$start-background-image: "https://data.palavara.com/img/0.jpg";
$logo-label-height: 1.45rem;
$text-size: 1.45rem;

:root {
  --image-height: calc((100vh) * 0.6);
}


@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited, a:hover, a:focus {
  text-decoration: none;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $color-canvas;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100vh;
  padding: 2rem;
}

.loader {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  & .logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8.33rem;
    height: 8.33rem;
    background: $color-canvas;
    margin: 0 auto;
    border: 1px solid #a5a5a5;
    border-radius: calc(8.33rem / 2);
    padding: 0.7rem;
    cursor: pointer;
    animation: spin 4s linear infinite;
  }

  & .logo-image svg {
    height: 100%;
    fill: #000045;
  }

  & .error {
    font-size: 1.6rem;
    color: #a5a5a5;
    margin-top: 2rem;
  }
}


.layout {
  display: grid;
  grid-template: 10rem 1fr 10rem / auto 1fr;
  grid-column-gap: 2rem;
  justify-items: flex-start;
}

.menu {
  grid-row: 2;
  grid-column: 1;
}

.menu-section {
  font-size: 2rem;
}

.section {
  grid-row: 2;
  grid-column: 2;
}

.items {
  //display: grid;
  //grid-template: 5rem / minmax(5rem, auto);
  //grid-auto-columns: minmax(5rem, auto);
  //grid-auto-flow: column;
  //justify-items: flex-start;
  //align-items: flex-start;
  //width: auto;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.item {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  //grid-template: 5rem / auto 5rem auto;
  min-width: 5rem;
  height: 5rem;
  justify-self: flex-start;

  //&:hover {
  //  width: 10rem;
  //}

}

.item-internal {
  background-color: #a5a5a5;
  border: 1px solid #868788;
  margin: 0 0.5rem;
  width: 5rem;
  height: 5rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.item-internal.dnd {
  margin: 0;
}

.item-dropzone-left,
.item-dropzone-right {
  opacity: 0.5;
  height: 5rem;
  width: 0.5rem;
}

.item-dropzone-left.dropTarget.active,
.item-dropzone-right.dropTarget.active {
    width: 5.5rem;
}

//.item-dropzone-left.dropTarget {
//  background-color: red;
//}
//.item-dropzone-right.dropTarget {
//  background-color: green;
//}

.tag {

}

